@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Greetings Wanderer</h1>
    <h2 class="display-4">I'm Amir Abdou</h2>
</div>

<div class="text-left">
    <h2>Who am I?</h2>
    <p>You've found my page. Welcome!</p>
    <h3></h3>

</div>